<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>Edit medicine</h1>
        <form action="/medicine" method="POST">
            <input type="text" name="name" placeholder="Medicine Name" value="<%= medicine.name %>">
            <input type="text" name="dose" placeholder="Dose (#)" value="<%= medicine.dose %>">
            <input type="text" name="purpose" placeholder="purpose" value="<%= medicine.purpose %>">
            <button>Submit</button>
        </form>
    </body>

    </html>
</body>

</html>