<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <h1>Create a new medicine</h1>
    <form action="/medicine" method="POST">
        <input type="text" name="name" placeholder="Medicine Name">
        <input type="text" name="dose" placeholder="Dose (#)">
        <input type="text" name="purpose" placeholder="purpose">
        <button>Submit</button>
    </form>
</body>

</html>