<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= medicine.name %>


    </title>
</head>

<body>
    <h1>
        <%= medicine.name %>
    </h1>
    <h2>Dose: <%= medicine.dose %>
    </h2>
    <p>
        <%= medicine.purpose %>
    </p>
</body>

</html>